{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-end">

      <div>
        {% if role == "admin" %}
          <form action="/manage-users">
            <button
              type="submit">
                Manage users
            </button>
          </form>
        {% endif %}
      </div>

      <div style="width:10px"></div>

      <div>
        <form action="/logout">
          <button
            type="submit">
              Log out
          </button>
        </form>
      </div>

    </div>
  </div>

  <div style="margin:40px"></div>

  <div class="row">

    <div class="col-md-4" name="todo">
      <h2>To Do</h2>
      <ul class="list-group mb-4">
        {% if role in ("admin", "writer") %}
          {% for item in item_view_model.todo_items %}
            <li class="list-group-item">
              <div class="container">
                <div class="row justify-content-between">
                  <div class>
                    {{item.title}}
                  </div>
                  <div>
                    <form action="/start-item/{{item.id}}" method="post">
                      <input type="submit" value="Start">
                    </form>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        {% else %}
          {% for item in item_view_model.todo_items %}
            <li class="list-group-item">
              <div class="container">
                <div class="row">
                  {{item.title}}
                </div>
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <div class="col-md-4" name="doing">
      <h2>Doing</h2>
      <ul class="list-group mb-4">
        {% if role in ("admin", "writer") %}
          {% for item in item_view_model.doing_items %}
            <li class="list-group-item">
              <div class="container">
                <div class="row justify-content-between">
                  <div class>
                    {{item.title}}
                  </div>
                  <div>
                    <form action="/complete-item/{{item.id}}" method="post">
                      <input type="submit" value="Complete">
                    </form>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        {% else %}
          {% for item in item_view_model.doing_items %}
            <li class="list-group-item">
              <div class="container">
                <div class="row">
                  {{item.title}}
                </div>
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <div class="col-md-4" name="done">
      <h2>Done</h2>
      <ul class="list-group mb-4">
        {% if item_view_model.show_all_done_items == true %}
          {% if role in ("admin", "writer") %}
            {% for item in item_view_model.done_items %}
              <li class="list-group-item">
                <div class="container">
                  <div class="row justify-content-between">
                    <div class>
                      {{item.title}}
                    </div>
                    <div>
                      <form action="/uncomplete-item/{{item.id}}" method="post">
                        <input type="submit" value="Uncomplete">
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          {% else %}
            {% for item in item_view_model.done_items %}
              <li class="list-group-item">
                <div class="container">
                  <div class="row">
                    {{item.title}}
                  </div>
                </div>
              </li>
            {% endfor %}
          {% endif %}
        {% else %}
          {% if role in ("admin", "writer") %}
            {% for item in item_view_model.recent_done_items %}
              <li class="list-group-item">
                <div class="container">
                  <div class="row justify-content-between">
                    <div class>
                      {{item.title}}
                    </div>
                    <div>
                      <form action="/uncomplete-item/{{item.id}}" method="post">
                        <input type="submit" value="Uncomplete">
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          {% else %}
            {% for item in item_view_model.recent_done_items %}
            <li class="list-group-item">
              <div class="container">
                <div class="row">
                  {{item.title}}
                </div>
              </div>
            </li>
            {% endfor %}
          {% endif %}
          <details>
            <summary>Display items completed before today?</summary>
            <p>
              {% if role in ("admin", "writer") %}
                {% for item in item_view_model.older_done_items %}
                  <li class="list-group-item">
                    <div class="container">
                      <div class="row justify-content-between">
                        <div class>
                          {{item.title}}
                        </div>
                        <div>
                          <form action="/uncomplete-item/{{item.id}}" method="post">
                            <input type="submit" value="Uncomplete">
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              {% else %}
                {% for item in item_view_model.older_done_items %}
                  <li class="list-group-item">
                    <div class="container">
                      <div class="row">
                        {{item.title}}
                      </div>
                    </div>
                  </li>
                {% endfor %}
              {% endif %}
            </p>
          </details>
        {% endif %}
      </ul>
    </div>

  </div>

  <div style="margin:20px"></div>

  <div class="container">
    <div class="row justify-content-between">

      {% if role in ("admin", "writer") %}
        <form action="/add-item" method="post">
          <label for="item_name">Description of item:</label>
          <input type="text" id="item_name" name="item_name" required size="20">
          <button
            type="submit">
              Add item
          </button>
        </form>

        <form action="/delete-all-items" method="post">
          <button
            type="submit">
              Delete all items
          </button>
        </form>
      {% endif %}

    </div>
  </div>

{% endblock %}