{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>To Do</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.get_todo_items() %}

          <li>

            <form action="/start-item/{{item.id}}" method="post">
              <label for="id_card">{{item.id}} - {{item.title}}</label>
              <input type="submit" value="Start">
            </form> 

          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Doing</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.get_doing_items() %}

          <li>

            <form action="/complete-item/{{item.id}}" method="post">
              <label for="id_card">{{item.id}} - {{item.title}}</label>
              <input type="submit" value="Complete">
            </form> 

          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Done</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.get_done_items() %}

          <li>

            <form action="/complete-item/{{item.id}}" method="post">
              <label for="id_card">{{item.id}} - {{item.title}}</label>
            </form> 

          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/add-item" method="post">
    
    <label for="item_name">Description of item:</label>
    <input type="text" id="item_name" name="item_name" required size="20">
    
    <button
      type="submit">
        Add item
    </button>
    
  </form>

{% endblock %}